# global ignore
**/.env
**/data/
**/secrets/
**/backups/

# passwords
*.htpasswd

# Proxy
proxy/letsencrypt/
proxy/webroot/

# Postgres
apps/postgres/data
apps/postgres/secrets
apps/postgres/pgadmin-data
