# global ignore
**/.env
**/data/
**/secrets/
**/backups/

# passwords
*.htpasswd

# Shared
shared/renew-all-certs.log

# Proxy
proxy/letsencrypt/
proxy/letsencrypt-logs/
proxy/webroot/
proxy/nginx/snippets/auth

# Postgres
apps/postgres/data
apps/postgres/secrets
apps/postgres/pgadmin-data

# MarinAPP
apps/src
